# miscellaneous
*~
.DS_Store

# Eclipse

bin/
gen/
.settings/
lib/
libs/

#doc
*.pdf
*.tps
*.aux
*.bbl
*.blg
*.log
*.out

org.eclipse.jdt.ui.prefs
org.eclipse.jdt.core.prefs

# android lint
lint.xml

# project specific
*.ym